<!DOCTYPE html>
<html>
<head>
  <title>D3Musketeers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.js" charset="utf-8"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- navbar -->
  <%= render 'layouts/header' %>
  <%= render partial: "layouts/flash", flash: flash %>

  <!-- control panel & graph -->
  <div class="container-fluid">
    <div class="row"> 
      <div class="col-sm-3">
        <%= render partial: "layouts/sidebar" %>
      </div>
      <div class="col-sm-9">
        <%= yield %>
      </div> <!-- graph -->
    </div>
  </div>

  <!-- About Modal -->
  <div class="modal fade" id="about-modal-window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  </div>
  <!-- Sign Up Modal -->
  <div class="modal fade" id="sign_up-modal-window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  </div>
  <!-- Sign In Modal -->
  <div class="modal fade" id="sign_in-modal-window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  </div>
</html>
</body>



