<!DOCTYPE html>
<html>
<head>
  <title>Semanalytics</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.js" charset="utf-8"></script>
  <script src="//use.typekit.net/daa7xqs.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- navbar -->
  <%= render 'layouts/header' %>

  <!-- control panel & graph -->
  <div class="container-fluid">
    <div class="row"> 
      <div class="col-sm-3" id="left-col">
        <%= render partial: 'layouts/sidebar' %>
      </div>
      <div class="col-sm-9" id="right-col">
        <%= render partial: "layouts/flash", flash: flash %>
        <%= yield %>
      </div> <!-- graph -->
    </div>
  </div>

  <!-- About Modal -->
  <div class="modal fade" id="about-modal-window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  </div>
  <!-- Sign Up Modal -->
  <div class="modal fade" id="sign_up-modal-window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  </div>
  <!-- Sign In Modal -->
  <div class="modal fade" id="sign_in-modal-window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  </div>
  <!-- Profile Modal -->
  <div class="modal fade" id="profile-modal-window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  </div>
</html>
</body>



